.button {
  height: 60px;
  width: 60px;
  background: #c1dfff3b;
  border-radius: 50%;
  border: 1px solid #c1dfff;
  transition: all 0.4s ease;
  font-size: 18px;
  font-family: 'Pacifico', cursive;
  cursor: pointer;

  &:hover {
    background: #ff8598;
    border-color: #ff8598;
    color: #fff;

    svg {
      circle,
      line,
      path {
        color: #fff;
      }
    }
  }
}

.key-equal {
  grid-row: span 2;
  height: 100%;
  border-radius: 30px;
}

.key-equal,
.key-clear {
  background: #ff8598 !important;
  border-color: #ff8598 !important;
  color: #fff;

  svg {
    line {
      color: #fff;
    }
  }
}

@media (max-width: 420px) {
  .button {
    height: 50px;
    width: 50px;
  }

  .key-equal {
    grid-row: span 2;
    height: 100%;
    border-radius: 30px;
  }
}

@media (max-width: 320px) {
  .button {
    height: 45px;
    width: 45px;
  }

  .key-equal {
    grid-row: span 2;
    height: 100%;
    border-radius: 30px;
  }
}
